@import "tailwindcss";
@import "@uptonm/ui/styles/default.css";

/**
 * Tailwind CSS official document:
 * https://tailwindcss.com/docs/detecting-classes-in-source-files
 *
 * if you ever need to explicitly add a source that's excluded by default, 
 * you can always add it with the @source directive.
 */
@source "../../node_modules/@uptonm/ui/**/*.{tsx, ts}";

@theme inline {
  --font-heading: var(--font-poppins), sans-serif;
  --font-body: var(--font-noto-sans), sans-serif;
  --font-mono: var(--font-noto-sans), monospace;
}

:root {
  html {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  p,
  span,
  a,
  li {
    font-family: var(--font-body);
  }
}
